---
layout: page
title:  Frequently asked questions
date:   2015-11-21 22:28:08
---

{% assign faqs = site.data.faq %}

<ul>
  {% for faq in faqs %}
    <li><a href="#{{ faq.title | slugify }}">{{ faq.title }}</a></li>
  {% endfor %}
</ul>

{% for faq in faqs %}
  <h3 id="{{ faq.title | slugify }}" class="page-header">{{ faq.title }} <small><a href="#top" class="text-muted">Back to top</a></small></h3>
  <p>{{ faq.description | markdownify }}</p>
{% endfor %}
