---
layout: default
title:  Home
---

<section class="home">
  <div class="container-fluid">

    {% include pagination.html %}

    <div class="row">
      {% for post in paginator.posts %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 portfolio-item text-center">

          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.images.thumbnail contains 'http' %}
              <img class="img-responsive img-rounded" src="{{ post.images.thumbnail }}">
            {% else %}
              <img class="img-responsive img-rounded" src="/assets{{ post.folder }}/{{ post.images.thumbnail }}">
            {% endif %}
          </a>

        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}

  </div>
</section>
