---
layout: page
title:  Submitting assets
date:   2015-11-21 22:28:24
---

<p><em>You need basic knowledge about <a href="https://git-scm.com" target="_blank">Git</a>, <a href="https://gitlab.com" target="_blank">GitLab</a>, <a href="http://jekyllrb.com" target="_blank">Jekyll</a> & <a href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a> to follow the following steps:</em></p>

<ol>
  <li>Read the <a href="#rules">rules</a> before submitting anything.</li>
  <li>Fork the site on <a href="https://gitlab.com/GameDevAssets/gamedevassets.gitlab.io/forks/new" target="_blank">GitLab</a>, and clone your fork to your desktop.</li>
  <li>Create a new folder in the <kbd>/assets</kbd> folder, named after your name.
    <ul>
      <li>For organizing purposes I suggest something like: <kbd>/assets/your-name-folder/your-assets-folder</kbd>, that way if you submit additional assets in the future you can put them into the folder with your name in it.</li>
    </ul>
  </li>
  <li>Drop your assets into the newly created folder.</li>
  <li>Create a new post in the <kbd>/_posts</kbd> folder <em>(<a href="http://jekyllrb.com/docs/posts/#the-posts-folder" target="_blank">naming of the post is important</a>)</em> and fill out the relevant YAML fields <em>(<a href="#editable-fields">see below</a>)</em>.
    <ul>
      <li>I suggest in the lines of: <kbd>YEAR-MONTH-DAY-YourName-YourAssets.md</kbd> <em>(all in lowercase)</em></li>
      <li>Example: <kbd>2015-11-23-saucy-wallpapers.md</kbd></li>
    </ul>
  </li>
  <li>Inside the root folder, run cmd <kbd>jekyll serve</kbd> <em>(see <a href="http://jekyllrb.com/docs/usage/" target="_blank">Official Jekyll site</a> for more info)</em>.</li>
  <li>If Jekyll is up and running, enter this page: <a href="http://localhost:4000/" target="_blank">http://localhost:4000/</a></li>
  <li>Find your post, test if all links work and all information is displayed correctly. Then push your changes up and open a pull request.</li>
</ol>

<h2 id="rules" class="page-header">Rules</h2>

<ul>
  <li>Upload only your own assets, <strong>you must be the author</strong>.</li>
  <li>Assets <strong>must be allowed</strong> to be used in a free or commercial game (authors can leave a license note on the page, telling users how they'd like to be credited).</li>
</ul>

<h2 id="editable-fields" class="page-header">Editable fields & explanations</h2>

<table class="table table-striped table-hover table-condensed table-responsive">
  <thead>
    <th>Field</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for info in site.data.info-submit-assets %}
      <tr>
        <td><strong>{{ info.field }}</strong></td>
        <td>{{ info.description | markdownify }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
