<footer>
  <div class="container text-center">

    <p>Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> & <a href="https://gitlab.com/GameDevAssets/gamedevassets.gitlab.io" target="_blank">hosted</a> on <a href="https://gitlab.com" target="_blank">GitLab</a> - Created & maintained by <a href="{{ site.author.website }}" target="_blank">{{ site.author.username }}</a></p>
    <p>Problems? Create a new <a href="https://gitlab.com/GameDevAssets/gamedevassets.gitlab.io/issues/new" target="_blank">issue on GitLab</a> or <a href="mailto:{{ site.author.email.support }}">contact me</a> directly</p>

  </div>
</footer>
