<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}/" class="navbar-brand">{{ site.title }} <small class="hidden-sm hidden-xs">- {{ site.tagline }}</small></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.dir == '/' %} class="active" {% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
        <li {% if page.dir == '/submit' %} class="active" {% endif %}><a href="{{ site.baseurl }}/submit/">Submit assets</a></li>
        <li {% if page.dir == '/tags' %} class="active" {% endif %}><a href="{{ site.baseurl }}/tags/">Tags</a></li>
        <li {% if page.dir == '/faq' %} class="active" {% endif %}><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
