<section>
  <div class="container">

    <div class="row text-center">
      <div class="col-lg-12">

          <ul class="pagination">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
                <li>
                  <a href="/">&laquo;</a>
                </li>
              {% else %}
                <li>
                  <a href="/page{{paginator.previous_page}}">&laquo;</a>
                </li>
              {% endif %}
            {% else %}
              <li class="disabled">
                <a href="#">&laquo;</a>
              </li>
            {% endif %}
            {% if paginator.page == 1 %}
              <li class="active">
                <a href="#">1</a>
              </li>
            {% else %}
              <li>
                <a href="/">1</a>
              </li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
              {% if count == paginator.page %}
                <li class="active">
                  <a href="#">{{count}}</a>
                </li>
              {% else %}
                <li>
                  <a href="/page{{count}}">{{count}}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
              <li>
                <a href="/page{{paginator.next_page}}">&raquo;</a>
              </li>
            {% else %}
              <li class="disabled">
                <a href="#">&raquo;</a>
              </li>
            {% endif %}
          </ul>

      </div>
    </div>

  </div>
</section>
