{% if site.versions.jquery %}<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{ site.versions.jquery }}/jquery.min.js"></script>{% endif %}
{% if site.versions.bootstrap %}<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.versions.bootstrap }}/js/bootstrap.min.js"></script>{% endif %}

<script src="{{ '/src/js/main.js' | prepend: site.baseurl }}?{{ site.time | date: site.date_formats.timestamp }}"></script>
