html {
  min-height: 100%;
  position:   relative;
}

body {
  margin-bottom: 90px; // Margin bottom by footer height
}

footer {
  bottom:           0;
  height:           90px; // Set the fixed height of the footer here
  padding:          20px;
  position:         absolute;
  width:            100%;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.portfolio-item {
  margin-bottom: 25px;
}

.truncate {
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.btn {
  margin-bottom: 4px;
}

.post {
  padding-bottom: 20px;
}
