// Light theme
$color-light-footer:    #f5f5f5;

// Dark theme
$color-dark:            #f0f0f0;
$color-dark-background: #0f0f0f;
$color-dark-link:       #f48c36;
$color-dark-link-hover: #333;
$color-dark-footer:     #151515;
$color-dark-gray:       #202020;
