---
layout: page
title:  Tags
date:   2015-11-23 22:16:03
---

{% assign tags = site.tags | sort %}

{% for tag in tags %}
  <a class="btn btn-default" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a>
{% endfor %}

<hr>

{% for tag in tags  %}
  <h2 id="{{ tag[0] }}" class="page-header">{{ tag[0] }} <small><a href="#top" class="text-muted">Back to top</a></small></h2>

  <div class="row">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list %}
      <div class="col-lg-3 col-sm-4 col-xs-6 portfolio-item text-center">

        <a href="{{ post.url | prepend: site.baseurl }}">
          {% if post.images.thumbnail contains 'http' %}
            <img class="img-responsive img-rounded" src="{{ post.images.thumbnail }}">
          {% else %}
            <img class="img-responsive img-rounded" src="/assets{{ post.folder }}/{{ post.images.thumbnail }}">
          {% endif %}
        </a>

      </div>
    {% endfor %}
  </div>
{% endfor %}
