$text-color:                       $color-dark;
$body-bg:                          $color-dark-background;
$link-color:                       $color-dark-link;
$link-hover-color:                 $color-dark-link-hover;
$navbar-default-color:             $color-dark;
$navbar-default-bg:                $color-dark-footer;
$navbar-default-border:            $color-dark-background;
$navbar-default-link-color:        $color-dark-link;
$navbar-default-link-hover-color:  $color-dark-link-hover;
$navbar-default-link-active-color: $color-dark;
$pagination-color:                 $color-dark-link;
$pagination-bg:                    $color-dark-footer;
$pagination-border:                $color-dark-footer;
$pagination-hover-color:           $color-dark-footer;
$pagination-hover-bg:              $color-dark;
$pagination-hover-border:          $color-dark;
$pagination-disabled-color:        $color-dark;
$pagination-disabled-bg:           $color-dark-footer;
$pagination-disabled-border:       $color-dark-footer;
$btn-default-color:                $color-dark;
$btn-default-bg:                   $color-dark-gray;
$btn-default-border:               $color-dark-gray;
$table-bg-accent:                  $color-dark-footer;
$table-bg-hover:                   $color-dark-gray;

footer {
  background-color: $color-dark-footer;
}

h2,
h3 {
  small {
    a {
      &:link,
      &:visited {
        color: $color-dark-link;
      }

      &:hover {
        color: $color-dark-link-hover;
      }
    }
  }
}
