---
layout: default
---

<section class="page">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <h1 class="page-header">{{ page.title }}</h1>

        {{ content }}

      </div>
    </div>

  </div>
</section>
