---
layout: default
---

<section class="post">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <h1 class="page-header text-center">{{ page.title }}</h1>

      </div>
      <div class="col-sm-6 col-xs-12 text-right">

        {% if page.preview contains 'mp3' %}
          <div class="row text-center">
            <div class="col-xs-12">

              <p>Preview:</p>
              <p>
                <audio src="/assets{{ page.folder }}/{{ page.preview }}" controls="controls">
                  Your browser does not support the audio element.
                </audio>
              </p>

            </div>
          </div>
        {% elsif page.preview contains 'gist.github.com' %}
          <script src="{{ page.preview }}"></script>
        {% endif %}

        {% if page.images.banner %}
          <div class="row">
            <div class="col-xs-12">

              {% if page.images.banner contains 'http' %}
                <a href="{{ page.images.banner }}" target="_blank"><img src="{{ page.images.banner }}" class="img-responsive img-rounded portfolio-item"></a>
              {% else %}
                <a href="/assets{{ page.folder }}/{{ page.images.banner }}" target="_blank"><img src="/assets{{ page.folder }}/{{ page.images.banner }}" class="img-responsive img-rounded portfolio-item"></a>
              {% endif %}

            </div>
          </div>
        {% endif %}

        {% if page.images.screenshots %}
          <div class="row">

            {% for image in page.images.screenshots %}
              <div class="col-xs-6">
                {% if image contains 'http' %}
                  <a href="{{ image }}" target="_blank"><img src="{{ image }}" class="img-responsive img-rounded portfolio-item"></a>
                {% else %}
                  <a href="/assets{{ page.folder }}/{{ image }}" target="_blank"><img src="/assets{{ page.folder }}/{{ image }}" class="img-responsive img-rounded portfolio-item"></a>
                {% endif %}
              </div>
            {% endfor %}

          </div>
        {% endif %}

      </div>
      <div class="col-sm-6 col-xs-12">

        <h4><strong>Author:</strong> {{ page.author }}
          {% assign icons = site.icons %}
          {% for link in page.social_media %}
            {% if link[1] %}
              {% assign social_icon = link[0] %}
              {% capture icon %}{{ icons[social_icon] }}{% endcapture %}

              <a href="{{ link[1] }}" target="_blank" title="{{ link[0] | capitalize }}: {{ link[1] }}"><i class="fa fa-{{ icon }}"></i></a>
            {% endif %}
          {% endfor %}
        </h4>


        <h4><strong>Date added:</strong> <time>{{ page.date | date: site.date_formats.date }}</time></h4>

        <h4><strong>License:</strong> {{ page.license }}</h4>

        {% if page.license_notes %}
          <h4><strong>License notice:</strong></h4>
          <p> {{ page.license_notes | markdownify }}</p>
        {% endif %}

        <p>
          {% if page.homepage %}
            <a class="btn btn-default" href="{{ page.homepage }}" target="_blank"><i class="fa fa-home"></i> Homepage</a>
          {% endif %}

          {% if page.preview %}
            {% if page.preview contains 'http' %}
              <a class="btn btn-default" href="{{ page.preview }}" target="_blank"><i class="fa fa-eye"></i> Preview</a>
            {% else %}
              <a class="btn btn-default" href="/assets{{ page.folder }}/{{ page.preview }}" target="_blank"><i class="fa fa-eye"></i> Preview</a>
            {% endif %}
          {% endif %}

          {% if page.license_url %}
            {% if page.license_url contains 'http' %}
              <a class="btn btn-default" href="{{ page.license_url }}" target="_blank"><i class="fa fa-file"></i> License</a>
            {% else %}
              <a class="btn btn-default" href="/assets{{ page.folder }}/{{ page.license_url }}" target="_blank"><i class="fa fa-file"></i> License</a>
            {% endif %}
          {% endif %}

          {% if page.download contains 'http' %}
            <a class="btn btn-success" href="{{ page.download }}" target="_blank"><i class="fa fa-download"></i> Download</a>
          {% else %}
            <a class="btn btn-success" href="/assets{{ page.folder }}/{{ page.download }}" target="_blank"><i class="fa fa-download"></i> Download</a>
          {% endif %}
        </p>

        {{ content }}

        <hr>

        <p>Tags:</p>

        {% for tag in page.tags %}
          <a class="btn btn-default" href="/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}

      </div>

      {% if site.comments.disqus %}
        <div class="col-xs-12">

          <hr>
          {% include comments.html %}

        </div>
      {% endif %}
    </div>

  </div>
</section>
